.foodcontainer {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 8px;
    margin: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#calorieResult {
    font-weight: bold;
    color: #6c6395;
    margin-bottom: 2vh;
}
